.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-wrap: initial; */
    /* position: relative;
    left: 3%;
    top: 2%; */
    /* border: solid 2px #ffff00; */
    border-radius: 12px;
    padding: 32px 58px;
    margin: 18px 7px;
    background-color: rgb(255, 255, 255);
}
.about{
    position: relative;
    top: 23px;
    left: 5px;
}
.second-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 1.5%;
}
.image{
    width: 165px;
    height: 150px;
    /* border: solid 2px blue; */
    border-radius:80px;
}
#type{
  font-size: medium;
  color: rgb(143, 140, 140);
}
#money{
   font-size: large;
   font-weight: 900;
}
#month{
   font-size: medium;
   font-weight: 300;
   color: rgb(143, 140, 140);
}
.material-symbols-outlined  {
  color: rgb(50, 191, 50);
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  
}
.material-symbols-outlined {
  color: red;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#inc-percent{
   font-weight: 800;
   color: green;
   position: relative;
   top: -2%;
}
#dec-percent{
    font-weight: 800;
    color: rgb(179, 38, 38);
}
#up{
  color: green;
}
#down{
  color: red;
}